<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Products</ng-template>
    <div *ngIf="products$ | async as products">
      <p *ngIf="products.length === 0">There is no products</p>

      <table *ngIf="products.length !== 0" mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let product">
            <img class="image" [src]="product.image" alt="" />
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let product">{{ product.title }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let product">
            {{ product.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let product">{{ "$" + product.price }}</td>
        </ng-container>

        <ng-container matColumnDef="actions" >
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let product" >
            <button mat-mini-fab color="primary">+</button>
            <button mat-icon-button>1</button>
            <button mat-mini-fab color="primary">-</button>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="highlight"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Personal Info</ng-template>
    <h1>contenifo</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment</ng-template>
    <h1>contenifo</h1>
  </mat-step>
</mat-horizontal-stepper>
