<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title
        >Create your account
      </mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="form" (ngSubmit)="register($event)">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username *" formControlName="username" type="text" />
          <button disabled mat-button matPrefix mat-icon-button>
            <mat-icon>person</mat-icon>
          </button> 
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="name@example.com" formControlName="email" type="email"/>          
          <button disabled mat-button matPrefix mat-icon-button>
            <mat-icon>alternate_email</mat-icon>
          </button>  
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <button disabled mat-button matPrefix mat-icon-button>
            <mat-icon>vpn_key</mat-icon>
          </button> 
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="form.hasError('required', 'password')">
            Please enter your newpassword
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Confirm Password"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword"
            required
          />
          <button disabled mat-button matPrefix mat-icon-button>
            <mat-icon>vpn_key</mat-icon>
          </button> 
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPassword"
          >
            <mat-icon>{{
              hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="form.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>        
      </mat-card-content>

      <button mat-raised-button color="primary" type="submit" class="btn-block">
        Register
      </button>
    </form>
  </mat-card>
</div>
