table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

      th {
        width: 150px;
        text-align: center;
        padding: 5px;
      }

table button {
  margin: 1%;
}

a {
  margin: 2%;
}

.content-table {
  width: 96%;
  margin: 2%;
}
